@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Source Code Pro";
	font-weight: 200;
	font-style: normal;
	font-stretch: normal;
	src: url("./WOFF2/TTF/SourceCodePro-ExtraLight.ttf.woff2") format("woff2"),
		url("./WOFF/OTF/SourceCodePro-ExtraLight.otf.woff") format("woff"),
		url("./OTF/SourceCodePro-ExtraLight.otf") format("opentype"),
		url("./TTF/SourceCodePro-ExtraLight.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 200;
	font-style: italic;
	font-stretch: normal;
	src: url("./WOFF2/TTF/SourceCodePro-ExtraLightIt.ttf.woff2") format("woff2"),
		url("./WOFF/OTF/SourceCodePro-ExtraLightIt.otf.woff") format("woff"),
		url("./OTF/SourceCodePro-ExtraLightIt.otf") format("opentype"),
		url("./TTF/SourceCodePro-ExtraLightIt.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	src: url("./WOFF2/TTF/SourceCodePro-Light.ttf.woff2") format("woff2"),
		url("./WOFF/OTF/SourceCodePro-Light.otf.woff") format("woff"),
		url("./OTF/SourceCodePro-Light.otf") format("opentype"),
		url("./TTF/SourceCodePro-Light.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 300;
	font-style: italic;
	font-stretch: normal;
	src: url("./WOFF2/TTF/SourceCodePro-LightIt.ttf.woff2") format("woff2"),
		url("./WOFF/OTF/SourceCodePro-LightIt.otf.woff") format("woff"),
		url("./OTF/SourceCodePro-LightIt.otf") format("opentype"),
		url("./TTF/SourceCodePro-LightIt.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	src: url("./WOFF2/TTF/SourceCodePro-Regular.ttf.woff2") format("woff2"),
		url("./WOFF/OTF/SourceCodePro-Regular.otf.woff") format("woff"),
		url("./OTF/SourceCodePro-Regular.otf") format("opentype"),
		url("./TTF/SourceCodePro-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	src: url("./WOFF2/TTF/SourceCodePro-It.ttf.woff2") format("woff2"),
		url("./WOFF/OTF/SourceCodePro-It.otf.woff") format("woff"),
		url("./OTF/SourceCodePro-It.otf") format("opentype"),
		url("./TTF/SourceCodePro-It.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	src: url("./WOFF2/TTF/SourceCodePro-Medium.ttf.woff2") format("woff2"),
		url("./WOFF/OTF/SourceCodePro-Medium.otf.woff") format("woff"),
		url("./OTF/SourceCodePro-Medium.otf") format("opentype"),
		url("./TTF/SourceCodePro-Medium.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 500;
	font-style: italic;
	font-stretch: normal;
	src: url("./WOFF2/TTF/SourceCodePro-MediumIt.ttf.woff2") format("woff2"),
		url("./WOFF/OTF/SourceCodePro-MediumIt.otf.woff") format("woff"),
		url("./OTF/SourceCodePro-MediumIt.otf") format("opentype"),
		url("./TTF/SourceCodePro-MediumIt.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	src: url("./WOFF2/TTF/SourceCodePro-Semibold.ttf.woff2") format("woff2"),
		url("./WOFF/OTF/SourceCodePro-Semibold.otf.woff") format("woff"),
		url("./OTF/SourceCodePro-Semibold.otf") format("opentype"),
		url("./TTF/SourceCodePro-Semibold.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 600;
	font-style: italic;
	font-stretch: normal;
	src: url("./WOFF2/TTF/SourceCodePro-SemiboldIt.ttf.woff2") format("woff2"),
		url("./WOFF/OTF/SourceCodePro-SemiboldIt.otf.woff") format("woff"),
		url("./OTF/SourceCodePro-SemiboldIt.otf") format("opentype"),
		url("./TTF/SourceCodePro-SemiboldIt.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	src: url("./WOFF2/TTF/SourceCodePro-Bold.ttf.woff2") format("woff2"),
		url("./WOFF/OTF/SourceCodePro-Bold.otf.woff") format("woff"),
		url("./OTF/SourceCodePro-Bold.otf") format("opentype"),
		url("./TTF/SourceCodePro-Bold.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	src: url("./WOFF2/TTF/SourceCodePro-BoldIt.ttf.woff2") format("woff2"),
		url("./WOFF/OTF/SourceCodePro-BoldIt.otf.woff") format("woff"),
		url("./OTF/SourceCodePro-BoldIt.otf") format("opentype"),
		url("./TTF/SourceCodePro-BoldIt.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	src: url("./WOFF2/TTF/SourceCodePro-Black.ttf.woff2") format("woff2"),
		url("./WOFF/OTF/SourceCodePro-Black.otf.woff") format("woff"),
		url("./OTF/SourceCodePro-Black.otf") format("opentype"),
		url("./TTF/SourceCodePro-Black.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Source Code Pro";
	font-weight: 900;
	font-style: italic;
	font-stretch: normal;
	src: url("./WOFF2/TTF/SourceCodePro-BlackIt.ttf.woff2") format("woff2"),
		url("./WOFF/OTF/SourceCodePro-BlackIt.otf.woff") format("woff"),
		url("./OTF/SourceCodePro-BlackIt.otf") format("opentype"),
		url("./TTF/SourceCodePro-BlackIt.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Source Code Variable";
	font-weight: 200 900;
	font-style: normal;
	font-stretch: normal;
	src: url("./WOFF2/VAR/SourceCodeVariable-Roman.ttf.woff2") format("woff2"),
		url("./WOFF/VAR/SourceCodeVariable-Roman.ttf.woff") format("woff"),
		url("./VAR/SourceCodeVariable-Roman.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Source Code Variable";
	font-weight: 200 900;
	font-style: italic;
	font-stretch: normal;
	src: url("./WOFF2/VAR/SourceCodeVariable-Italic.ttf.woff2") format("woff2"),
		url("./WOFF/VAR/SourceCodeVariable-Italic.ttf.woff") format("woff"),
		url("./VAR/SourceCodeVariable-Italic.ttf") format("truetype");
	font-display: swap;
}

@layer base {
	.theme-belafonte {
		--color-black: #20111b;
		--color-red: #be100e;
		--color-green: #858162;
		--color-yellow: #eaa549;
		--color-blue: #426a79;
		--color-purple: #97522c;
		--color-cyan: #989a9c;
		--color-white: #968c83;
		--color-brightBlack: #5e5252;
		--color-brightRed: #be100e;
		--color-brightGreen: #858162;
		--color-brightYellow: #eaa549;
		--color-brightBlue: #426a79;
		--color-brightPurple: #97522c;
		--color-brightCyan: #989a9c;
		--color-brightWhite: #968c83;
		--color-background: #d5ccba;
		--color-foreground: #45373c;

		--color-text-base: var(--color-foreground);
		--color-text-valid: var(--color-yellow);
		--color-text-error: var(--color-red);
		--color-fill: var(--color-background);
		--color-border: var(--color-purple);
		--color-ps1-name: var(--color-purple);
		--color-ps1-symbol: var(--color-red);
		--color-ps1-path: var(--color-blue);
		--color-scrollbar-base: var(--color-yellow);
		--color-scrollbar-track: var(--color-white);
		--color-scrollbar-hover: var(--color-purple);
		--color-json-key: var(--color-red);
		--color-json-value: var(--color-blue);
	}

	.theme-cyan {
		--color-black: #003340;
		--color-red: #00ccff;
		--color-green: #00ccff;
		--color-yellow: #00ccff;
		--color-blue: #00ccff;
		--color-purple: #00ccff;
		--color-cyan: #00ccff;
		--color-white: #00ccff;
		--color-brightBlack: #00ccff;
		--color-brightRed: #00ccff;
		--color-brightGreen: #00ccff;
		--color-brightYellow: #00ccff;
		--color-brightBlue: #00ccff;
		--color-brightPurple: #00ccff;
		--color-brightCyan: #00ccff;
		--color-brightWhite: #00ccff;
		--color-background: #003340;
		--color-foreground: #00ccff;

		--color-text-base: var(--color-foreground);
		--color-text-valid: var(--color-cyan);
		--color-text-error: var(--color-cyan);
		--color-fill: var(--color-background);
		--color-border: var(--color-cyan);
		--color-ps1-name: var(--color-cyan);
		--color-ps1-symbol: var(--color-cyan);
		--color-ps1-path: var(--color-cyan);
		--color-scrollbar-base: var(--color-cyan);
		--color-scrollbar-track: var(--color-black);
		--color-scrollbar-hover: var(--color-cyan);
		--color-json-key: var(--color-cyan);
		--color-json-value: var(--color-cyan);
	}

	.theme-dracula {
		--color-black: #000000;
		--color-red: #ff5555;
		--color-green: #50fa7b;
		--color-yellow: #f1fa8c;
		--color-orange: #ffb86c;
		--color-blue: #6272a4;
		--color-pink: #ff79c6;
		--color-purple: #bd93f9;
		--color-cyan: #8be9fd;
		--color-white: #bfbfbf;
		--color-brightBlack: #44475a;
		--color-brightRed: #ff6e67;
		--color-brightGreen: #5af78e;
		--color-brightYellow: #f4f99d;
		--color-brightOrange: #ffb86c;
		--color-brightBlue: #ff79c6;
		--color-brightPink: #ff79c6;
		--color-brightPurple: #ff92d0;
		--color-brightCyan: #9aedfe;
		--color-brightWhite: #f8f8f2;
		--color-background: #282a36;
		--color-foreground: #f8f8f2;

		--color-text-base: var(--color-foreground);
		--color-text-valid: var(--color-green);
		--color-text-error: var(--color-red);
		--color-fill: var(--color-background);
		--color-border: var(--color-cyan);
		--color-ps1-name: var(--color-orange);
		--color-ps1-symbol: var(--color-purple);
		--color-ps1-path: var(--color-pink);
		--color-scrollbar-base: var(--color-white);
		--color-scrollbar-track: var(--color-brightBlack);
		--color-scrollbar-hover: var(--color-pink);
		--color-json-key: var(--color-purple);
		--color-json-value: var(--color-pink);
	}

	.theme-gruvbox {
		--color-black: #282828;
		--color-red: #cc241d;
		--color-green: #98971a;
		--color-yellow: #d79921;
		--color-blue: #458588;
		--color-purple: #b16286;
		--color-cyan: #689d6a;
		--color-white: #a89984;
		--color-brightBlack: #928374;
		--color-brightRed: #fb4934;
		--color-brightGreen: #b8bb26;
		--color-brightYellow: #fabd2f;
		--color-brightBlue: #83a598;
		--color-brightPurple: #d3869b;
		--color-brightCyan: #8ec07c;
		--color-brightWhite: #ebdbb2;
		--color-background: #282828;
		--color-foreground: #ebdbb2;

		--color-text-base: var(--color-foreground);
		--color-text-valid: var(--color-brightGreen);
		--color-text-error: var(--color-red);
		--color-fill: var(--color-background);
		--color-border: var(--color-yellow);
		--color-ps1-name: var(--color-brightCyan);
		--color-ps1-symbol: var(--color-red);
		--color-ps1-path: var(--color-brightYellow);
		--color-scrollbar-base: var(--color-foreground);
		--color-scrollbar-track: var(--color-brightBlack);
		--color-scrollbar-hover: var(--color-brightYellow);
		--color-json-key: var(--color-yellow);
		--color-json-value: var(--color-brightGreen);
	}

	.theme-kokuban {
		--color-black: #2e8744;
		--color-red: #d84e4c;
		--color-green: #95da5a;
		--color-yellow: #d6e264;
		--color-blue: #4b9ed7;
		--color-purple: #945fc5;
		--color-cyan: #d89b25;
		--color-white: #d8e2d7;
		--color-brightBlack: #34934f;
		--color-brightRed: #ff4f59;
		--color-brightGreen: #aff56a;
		--color-brightYellow: #fcff75;
		--color-brightBlue: #57aeff;
		--color-brightPurple: #ae63e9;
		--color-brightCyan: #ffaa2b;
		--color-brightWhite: #ffffff;
		--color-background: #0d4a08;
		--color-foreground: #d8e2d7;

		--color-text-base: var(--color-foreground);
		--color-text-valid: var(--color-green);
		--color-text-error: var(--color-red);
		--color-fill: var(--color-background);
		--color-border: var(--color-black);
		--color-ps1-name: var(--color-brightBlack);
		--color-ps1-symbol: var(--color-green);
		--color-ps1-path: var(--color-brightCyan);
		--color-scrollbar-base: var(--color-green);
		--color-scrollbar-track: var(--color-black);
		--color-scrollbar-hover: var(--color-brightGreen);
		--color-json-key: var(--color-green);
		--color-json-value: var(--color-yellow);
	}

	.theme-nord {
		--color-black: #2e3440;
		--color-red: #bf616a;
		--color-green: #a3be8c;
		--color-yellow: #ebcb8b;
		--color-blue: #5e81ac;
		--color-purple: #b48ead;
		--color-cyan: #8fbcbb;
		--color-white: #d8dee9;
		--color-brightBlack: #4c566a;
		--color-brightRed: #d08770;
		--color-brightGreen: #a3be8c;
		--color-brightYellow: #ebcb8b;
		--color-brightBlue: #81a1c1;
		--color-brightPurple: #b48ead;
		--color-brightCyan: #88c0d0;
		--color-brightWhite: #eceff4;
		--color-background: #d8dee9;
		--color-foreground: #5e81ac;

		--color-text-base: var(--color-foreground);
		--color-text-valid: var(--color-green);
		--color-text-error: var(--color-brightRed);
		--color-fill: var(--color-background);
		--color-border: var(--color-blue);
		--color-ps1-name: var(--color-purple);
		--color-ps1-symbol: var(--color-cyan);
		--color-ps1-path: var(--color-brightCyan);
		--color-scrollbar-base: var(--color-brightBlue);
		--color-scrollbar-track: var(--color-white);
		--color-scrollbar-hover: var(--color-blue);
		--color-json-key: var(--color-brightRed);
		--color-json-value: var(--color-blue);
	}

	.theme-ocean {
		--color-black: #000000;
		--color-red: #970b12;
		--color-green: #18a708;
		--color-yellow: #99981d;
		--color-blue: #0516af;
		--color-purple: #6669b0;
		--color-cyan: #2652b9;
		--color-white: #bfbfbf;
		--color-brightBlack: #000000;
		--color-brightRed: #970b12;
		--color-brightGreen: #18a708;
		--color-brightYellow: #99981d;
		--color-brightBlue: #0516af;
		--color-brightPurple: #6669b0;
		--color-brightCyan: #2652b9;
		--color-brightWhite: #bfbfbf;
		--color-background: #2b67c9;
		--color-foreground: #dfe8f6;

		--color-text-base: var(--color-foreground);
		--color-text-valid: var(--color-blue);
		--color-text-error: var(--color-red);
		--color-fill: var(--color-background);
		--color-border: var(--color-white);
		--color-ps1-name: var(--color-blue);
		--color-ps1-symbol: var(--color-blue);
		--color-ps1-path: var(--color-blue);
		--color-scrollbar-base: var(--color-blue);
		--color-scrollbar-track: var(--color-white);
		--color-scrollbar-hover: var(--color-blue);
		--color-json-key: var(--color-black);
		--color-json-value: var(--color-black);
	}

	.theme-raspberry {
		--color-black: #282a2e;
		--color-red: #bd0940;
		--color-green: #76ab23;
		--color-yellow: #e0de48;
		--color-blue: #0170c5;
		--color-purple: #7d498f;
		--color-cyan: #3f8d83;
		--color-white: #e5e5e5;
		--color-brightBlack: #676e7a;
		--color-brightRed: #bd6d85;
		--color-brightGreen: #b5d680;
		--color-brightYellow: #fffd76;
		--color-brightBlue: #80c8ff;
		--color-brightPurple: #ac79bb;
		--color-brightCyan: #8abeb7;
		--color-brightWhite: #e5e5e5;
		--color-background: #3c0315;
		--color-foreground: #fffffd;

		--color-text-base: var(--color-foreground);
		--color-text-valid: var(--color-green);
		--color-text-error: var(--color-red);
		--color-fill: var(--color-background);
		--color-border: var(--color-red);
		--color-ps1-name: var(--color-red);
		--color-ps1-symbol: var(--color-white);
		--color-ps1-path: var(--color-brightBlue);
		--color-scrollbar-base: var(--color-brightRed);
		--color-scrollbar-track: var(--color-black);
		--color-scrollbar-hover: var(--color-red);
		--color-json-key: var(--color-red);
		--color-json-value: var(--color-brightRed);
	}

	.theme-tokyo {
		--color-black: #282a2e;
		--color-red: #f7768e;
		--color-green: #9ece6a;
		--color-yellow: #e0af68;
		--color-blue: #7aa2f7;
		--color-purple: #bb9af7;
		--color-cyan: #7dcfff;
		--color-white: #c0caf5;
		--color-brightBlack: #282a2e;
		--color-brightRed: #f7768e;
		--color-brightGreen: #9ece6a;
		--color-brightYellow: #e0af68;
		--color-brightBlue: #7aa2f7;
		--color-brightPurple: #bb9af7;
		--color-brightCyan: #7dcfff;
		--color-brightWhite: #c0caf5;
		--color-background: #414868;
		--color-foreground: #c0caf5;

		--color-text-base: var(--color-foreground);
		--color-text-valid: var(--color-green);
		--color-text-error: var(--color-red);
		--color-fill: var(--color-background);
		--color-border: var(--color-blue);
		--color-ps1-name: var(--color-red);
		--color-ps1-symbol: var(--color-blue);
		--color-ps1-path: var(--color-yellow);
		--color-scrollbar-base: var(--color-blue);
		--color-scrollbar-track: var(--color-white);
		--color-scrollbar-hover: var(--color-purple);
		--color-json-key: var(--color-purple);
		--color-json-value: var(--color-cyan);
	}
}

html,
body,
body > div:first-child,
div#root,
div#root > div {
	height: 100%;
	overflow: auto;
	margin: 0;
	font-family: Consolas;
}

body {
	padding: 1em;
}

pre {
	font-family: "Source Code Pro";
}

@media (min-width: 1024px) {
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	::-webkit-scrollbar-track {
		background: var(--color-scrollbar-track);
		border-radius: 5px;
	}

	::-webkit-scrollbar-thumb {
		background: var(--color-scrollbar-base);
		border-radius: 5px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: var(--color-scrollbar-hover);
	}

	.json-key {
		width: 50rem;
	}

	.banner {
		font-family: Consolas;
	}
}

@media (min-width: 300px) and (max-width: 400px) {
	.json-key {
		width: 8rem;
	}
}

@media (min-width: 400px) and (max-width: 640px) {
	.json-key {
		width: 15rem;
	}
}

@media (min-width: 640px) and (max-width: 860px) {
	.json-key {
		width: 20rem;
	}
}

@media (min-width: 860px) and (max-width: 1024px) {
	.json-key {
		width: 30rem;
	}

	.banner {
		font-family: Consolas;
	}
}

a:hover {
	text-decoration: underline;
}
