@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.theme-raspberry {
		--color-black: #282a2e;
		--color-red: #bd0940;
		--color-green: #76ab23;
		--color-yellow: #e0de48;
		--color-blue: #0170c5;
		--color-purple: #7d498f;
		--color-cyan: #3f8d83;
		--color-white: #e5e5e5;
		--color-brightBlack: #676e7a;
		--color-brightRed: #bd6d85;
		--color-brightGreen: #b5d680;
		--color-brightYellow: #fffd76;
		--color-brightBlue: #80c8ff;
		--color-brightPurple: #ac79bb;
		--color-brightCyan: #8abeb7;
		--color-brightWhite: #e5e5e5;
		--color-background: #3c0315;
		--color-foreground: #fffffd;

		--color-text-base: var(--color-foreground);
		--color-text-valid: var(--color-green);
		--color-text-error: var(--color-red);
		--color-json-key: var(--color-red);
		--color-json-value: var(--color-green);
		--color-fill: var(--color-background);
		--color-border: var(--color-red);
		--color-ps1-name: var(--color-green);
		--color-ps1-symbol: var(--color-white);
		--color-ps1-path: var(--color-brightBlue);
	}

	.theme-ocean {
		--color-black: #000000;
		--color-red: #990000;
		--color-green: #00a600;
		--color-yellow: #999900;
		--color-blue: #0000b2;
		--color-purple: #b200b2;
		--color-cyan: #00a6b2;
		--color-white: #bfbfbf;
		--color-brightBlack: #666666;
		--color-brightRed: #e50000;
		--color-brightGreen: #00d900;
		--color-brightYellow: #e5e500;
		--color-brightBlue: #0000ff;
		--color-brightPurple: #e500e5;
		--color-brightCyan: #00e5e5;
		--color-brightWhite: #e5e5e5;
		--color-background: #224fbc;
		--color-foreground: #ffffff;

		--color-text-base: var(--color-foreground);
		--color-text-valid: var(--color-green);
		--color-text-error: var(--color-black);
		--color-json-key: var(--color-red);
		--color-json-value: var(--color-green);
		--color-fill: var(--color-background);
		--color-border: var(--color-cyan);
		--color-ps1-name: var(--color-brightWhite);
		--color-ps1-symbol: var(--color-brightWhite);
		--color-ps1-path: var(--color-brightWhite);
	}

	.theme-dracula {
		--color-black: #000000;
		--color-red: #ff5555;
		--color-green: #50fa7b;
		--color-yellow: #f1fa8c;
		--color-orange: #ffb86c;
		--color-blue: #6272a4;
		--color-pink: #ff79c6;
		--color-purple: #bd93f9;
		--color-cyan: #8be9fd;
		--color-white: #bfbfbf;
		--color-brightBlack: #44475a;
		--color-brightRed: #ff6e67;
		--color-brightGreen: #5af78e;
		--color-brightYellow: #f4f99d;
		--color-brightOrange: #ffb86c;
		--color-brightBlue: #ff79c6;
		--color-brightPink: #ff79c6;
		--color-brightPurple: #ff92d0;
		--color-brightCyan: #9aedfe;
		--color-brightWhite: #f8f8f2;
		--color-background: #282a36;
		--color-foreground: #f8f8f2;

		--color-text-base: var(--color-foreground);
		--color-text-valid: var(--color-green);
		--color-text-error: var(--color-red);
		--color-json-key: var(--color-red);
		--color-json-value: var(--color-green);
		--color-fill: var(--color-background);
		--color-border: var(--color-cyan);
		--color-ps1-name: var(--color-orange);
		--color-ps1-symbol: var(--color-purple);
		--color-ps1-path: var(--color-pink);
	}
}

html,
body,
body > div:first-child,
div#root,
div#root > div {
	height: 100%;
	overflow: auto;
	margin: 0;
	font-family: Consolas;
}

body {
	padding: 0.5em;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: #262626;
}

::-webkit-scrollbar-thumb {
	background: #ebdbb2;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #d79921;
}
